<html>
  <head>
    <% include partials/head %>
    <link rel="stylesheet" href="/css/styles-found.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">
  </head>
  <body>
  <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-rebel" aria-hidden="true"></i> Quick Recipe</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Contact</a></li>
       </ul> 
        
          
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>  How it Works</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <h3>The search yielded <%=data.length%> results<h3>
    <ul>
        <% data.forEach(function(recipe){ %>
          <li>
          <div class="recipe_element">
            <h1><%=recipe.title%></h1>
            <img src="<%=recipe.image_url%>"></img>
            <div>Published By <%= recipe.publisher %></div>
            <div class="size"><a href="<%=recipe.f2f_url%>">Go to recipe</a></div>
          </div>
          </li>
        <% }) %>

    </ul>
  </body>
  <% include partials/footer %>
</html>
